/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  --hue: 159;
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

/*====  CONTAINER ============================ */
.container {
  max-width: 1200px; /* largura máxima */
  margin: 0 auto; /* centraliza */
  padding: 0 1rem; /* padding lateral */
}

/*====  LAYOUT ============================ */
.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

/*====  HEADER ============================ */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/*========= MEDIA QUERIES ==================== */
/* Mobile First */
@media (max-width: 767px) {
  .container {
    padding: 0 1rem; /* Espaço lateral reduzido em telas menores */
  }

  nav .menu {
    display: block; /* menu em bloco */
  }

  nav .menu ul {
    display: flex;
    flex-direction: column; /* menu vertical */
  }

  #home .text, #about .text {
    margin: 0 1rem; /* margem lateral reduzida */
    text-align: center; /* centraliza texto */
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem; /* espaço lateral para telas maiores */
  }

  nav .menu {
    display: flex; /* menu em linha */
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem; /* espaçamento entre itens do menu */
  }

  #home .text, #about .text {
    text-align: left; /* texto à esquerda em telas maiores */
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  .section {
    padding: 8rem 0; /* aumenta o espaçamento em seções maiores */
  }

  .card {
    padding: 4rem; /* aumenta o padding das cartas */
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px; /* largura máxima em telas muito grandes */
  }

  /* Outras regras para telas grandes podem ser adicionadas aqui */
}
